html {
    height: 100%;
}

body {
    position: absolute;
    display: flex;
    flex-flow: column;
    height: 100%;
}

header,
main {
    margin: 0;
    padding: 0;
}

header {
    flex: none;
}

main {
    flex: 1 1 100%;
    overflow: hidden;
}

#map {
    height: 100%;
}

select {
    color: white;
    background-color: transparent;
    padding-left: 8px;
    padding-right: 20px;
    margin: 2px;
    text-align: center;
    font-size: 120%;

    /* Removes the default <select> styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Positions background arrow image */
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: right center;
}

select option {
    background-color: #2980b9;
}

select:invalid {
    box-shadow: none !important;
}
